@import "theme/variables";

:root {
  --navbarHeight: #{$navbarHeight};
  --white: #{$white};
  --primary: #{$primary};
  --primary-hover: #{$primaryHover};
  --secondary: #{$secondary};
  --neutral-color: #{$neutralColor};
  --page: #{$page};
  --container: #{$container};
  --darkest: #{$darkest};
  --dark-light: #{$darkLight};
  --dark-light-border: #{$darkLightBorder};
  --dark-light-4: #{$darkLight4};
  --dark-light-3: #{$darkLight3};
  --dark-light-2: #{$darkLight2};
  --primary-light: #{$primaryLight};
  --dark: #{$dark};
  --medium: #{$medium};
  --light: #{$light};
  --lightest: #{$lightest};
  --component: #{$component};
  --selected: #{$selected};
  --border-new: #{$borderNew};
  --border-1: #{$border1};
  --border-2: #{$border2};
  --border-3: #{$border3};
  --subtext-1: #{$subtext1};
  --subtext-2: #{$subtext2};
  --subtext-3: #{$subtext3};
  --label-text-green: #{$labeltextgreen};
  --label-text-yellow: #{$labeltextyellow};
  --label-text-red: #{$labeltextred};
  --label-text-grey: #{$labeltextgrey};
  --label-text-default: #{$labeltextdefault};
  --text: #{$text};
  --active: #{$active};
  --live: #{$live};
  --caution: #{$caution};
  --issue: #{$issue};
  --closed: #{$closed};
  --valid: #{$valid};
  --invalid: #{$invalid};
  --tracking: #{$tracking};
  --gradient: #{$gradient};
  --modal-backdrop: #{$modalBackdrop};
  --font-primary: #{$fontPrimary};
  --font-secondary: #{$fontSecondary};
  --zindex-navbar: #{$zindexNavbar};
  --zindex-bottom-nav: #{$zindexBottomNav};
  --zindex-sidemenu: #{$zindexSidemenu};
  --zindex-alert: #{$zindexAlert};
  --zindex-cart: #{$zindexCart};
  --zindex-spinner: #{$zindexSpinner};
  --zindex-modal: #{$zindexModal};
  --zindex-modal-bg: #{$zindexModalBg};
  --zindex-axp-pb-panel: #{$zindexAxpPbPanel};
  --zindex-axp-pb-opt: #{$zindexAxpPbOpt};
}
