$navbarHeight: 60px;
$white: #ffffff;
$primary: #015cff;
$primaryHover: #337cff;
$secondary: #a6b2c6;
$neutralColor: #404a63;
$page: #03132f;
$container: #1a2b48;
$darkest: #03132f;
$dark: #0e1f3b;
$darkLight: #1d232f;
$darkLightBorder: #313a4e;
$darkLight3: #14171f;
$darkLight2: #272e3f;
$darkLight4: #8290b0;
$medium: #192b4a;
$primaryLight: #669DFF;
$light: #253859;
$lightest: #6980a6;
$component: #304466;
$selected: #475d83;
$borderNew: #253859;
$border1: #5d6d88;
$border2: #ffffff;
$border3: #6980a6;
$subtext1: #a6b2c6;
$subtext2: #ffffff;
$subtext3: #6980a6;
$labeltextgreen: #6af6b3;
$labeltextyellow: #ffef61;
$labeltextred: #f66a6a;
$labeltextgrey: #e0e3eb;
$labeltextdefault: #ffffff;
$labeltextdisabled: #4a4f59;
$text: #ffffff;
$active: #42f1d2;
$live: #00e8a0;
$caution: #fae369;
$issue: #f87584;
$closed: #a6b2c6;
$valid: #42f1d2;
$invalid: #f87584;
$tracking: #19c2ff;
$gradient: linear-gradient(180deg, #015cff 0%, #19c2ff 100%);
$modalBackdrop: rgba(3, 5, 27, 0.85);
$fontPrimary: "proxima-nova", "Roboto Mono", Arial, Helvetica, sans-serif;
$fontSecondary: "Roboto Mono", sans-serif;
$zindexNavbar: 10000;
$zindexBottomNav: 9090;
$zindexSidemenu: 9000;
$zindexAlert: 1000;
$zindexCart: 10100;
$zindexSpinner: 9000;
$zindexModal: 10400;
$zindexModalBg: 10300;
$zindexAxpPbPanel: 2000;
$zindexAxpPbOpt: 1900;
